@media screen and (max-width: 420px){
    #lezioni .row>.left , #lezioni .row>.right , #steps .row>.left, #steps .row>.central, #steps .row>.right ,
    #why .row>.first, #why .row>.second, #why .row>.third{
        width: 992px;
        margin: 50px 0 50px 0;
    }

    h1{
       font-size: 4rem;
    }
}