@media screen and (max-width: 600px){
    #lezioni .row>.left , #lezioni .row>.right , #steps .row>.left, #steps .row>.central, #steps .row>.right ,
    #why .row>.first, #why .row>.second, #why .row>.third{
        width: 50%;
        margin: 0 auto;
    }
}




@media screen and (max-width: 420px){
    #lezioni .row>.left , #lezioni .row>.right , #steps .row>.left, #steps .row>.central, #steps .row>.right ,
    #why .row>.first, #why .row>.second, #why .row>.third{
        width: 992px;
        padding: 10px 0 10px 0;
    }

    h1{
        padding: 30px 0 0px 0;
       font-size: 4rem;
    }

    #lezioni , #why{
        width: 992px;
        background-color: rgb(242,242,205);
    }
}

.container.grey{
    width: 992px;
    background-color: white;
}

